<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Login</h2>
    <h3>{{title}}</h3>
    <form action="/login" method="post">
        <p>Name: <input type="text" name="name" value="wangnan"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><input type="submit" value="Sumbit"></p>
    </form>
</body>
</html>